extends layout

block content
  h1=title +' Chat'

  html
    head
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
      link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js') 
      script.
        $(document).ready(function(){
          var topic = "Topic xxx";
          var time = "1 hour ago";
          var notRead = "xx";
          var lastChat = "Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.";
          $("#addTopicBtn").click(function(){
            event.preventDefault();
            $("#topicList").append('<a href="#" class="list-group-item list-group-item-action flex-column align-items-start rcorners dropShadow" style="margin-bottom:20px">'
              + '<div class="d-flex w-100 justify-content-between">'
              + '<h5 class="mb-1">'+topic+'</h5>' // Topic
              + '  <div class="myauto list-group">'
              + '    <small>'+time+'</small>' // Date
              + '    <span class="badge badge-primary badge-pill mx-auto">'+notRead+'</span>' //Not read
              + '  </div>'
              + '</div>'
              + '<p class="mb-1">'+lastChat+'</p>'  
              + '</a>'
            );
          })
        })
      style.
        body {
          font-family: 'Quicksand', sans-serif;
        }
        .dropShadow {
          box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.13), 0 10px 25px 0 rgba(0, 0, 0, 0.13);
        }
        .rcorners {
          border-radius: 12px;
          padding: 20px;
        }
        .list-group-item:last-child{
          border-radius: 12px;
        }
        .chat
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .chat li
        {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

        .chat li.left .chat-body
        {
            margin-left: 60px;
        }

        .chat li.right .chat-body
        {
            margin-right: 60px;
        }


        .chat li .chat-body p
        {
            margin: 0;
            color: #777777;
        }

        .panel .slidedown .glyphicon, .chat .glyphicon
        {
            margin-right: 5px;
        }

        .panel-body
        {
            overflow-y: scroll;
            height: 250px;
        }

        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }
    body
      .container-fluid
        .row
          .col-md-1.rcorners.dropShadow(style='background:linear-gradient(234deg, rgba(28, 155, 255, 0.84), #117de7);max-width:5%;')
            div(style='font-size:25px;color:white;margin-right:20px;')
              i.fas.fa-user-plus
              i.fas.fa-user-plus
          .col-md-5
            #topicList.list-group.md-3
              a.list-group-item.list-group-item-action.flex-column.dropShadow.align-items-start.rcorners(href='#', style='margin-bottom:20px;border-top-right-radius:12px;border-top-left-radius:12px;')
                .d-flex.w-100.justify-content-between
                  h5.mb-1 Topic 1
                  .my-auto.list-group
                    small 3 days ago
                    span.badge.badge-primary.badge-pill.mx-auto 140
                p.mb-1
                  | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit. Maecenas sed diam eget risus varius blandit.
              
            div(style='font-size:2em;color:#007bff;margin-right:3px;')
              i#addTopicBtn.fas.fa-plus-circle.fa-pull-right
          .col-md-6.rcorners.dropShadow
            .container
              .row
                .card.card-primary
                  .card-header
                    span.glyphicon.glyphicon-comment
                    |  Chat
                    .btn-group.float-right
                      button.btn.btn-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                        span.glyphicon.glyphicon-chevron-down
                      ul.dropdown-menu.slidedown
                        li
                          a(href='http://www.jquery2dotnet.com')
                            span.glyphicon.glyphicon-refresh
                            | Refresh
                        li
                          a(href='http://www.jquery2dotnet.com')
                            span.glyphicon.glyphicon-ok-sign
                            | Available
                        li
                          a(href='http://www.jquery2dotnet.com')
                            span.glyphicon.glyphicon-remove
                            | Busy
                        li
                          a(href='http://www.jquery2dotnet.com')
                            span.glyphicon.glyphicon-time
                            | Away
                        li.dropdown-divider
                        li
                          a(href='http://www.jquery2dotnet.com')
                            span.glyphicon.glyphicon-off
                            | Sign Out
                  .card-block
                    ul.chat
                      li.left.clearfix
                        span.chat-img.float-xs-left
                          img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
                        .chat-body.clearfix
                          .header
                            strong.primary-font Jack Sparrow
                            small.float-xs-right.text-muted
                              span.glyphicon.glyphicon-time
                              | 12 mins ago
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            | dolor, quis ullamcorper ligula sodales.
                      li.right.clearfix
                        span.chat-img.float-xs-right
                          img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
                        .chat-body.clearfix
                          .header
                            small.text-muted
                              span.glyphicon.glyphicon-time
                              | 13 mins ago
                            strong.float-xs-right.primary-font Bhaumik Patel
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            | dolor, quis ullamcorper ligula sodales.
                      li.left.clearfix
                        span.chat-img.float-xs-left
                          img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
                        .chat-body.clearfix
                          .header
                            strong.primary-font Jack Sparrow
                            small.float-xs-right.text-muted
                              span.glyphicon.glyphicon-time
                              | 14 mins ago
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            | dolor, quis ullamcorper ligula sodales.
                      li.right.clearfix
                        span.chat-img.float-xs-right
                          img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
                        .chat-body.clearfix
                          .header
                            small.text-muted
                              span.glyphicon.glyphicon-time
                              | 15 mins ago
                            strong.float-xs-right.primary-font Bhaumik Patel
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            | dolor, quis ullamcorper ligula sodales.
                  .card-footer
                    form#form(action="/")
                      .input-group
                        input#btn-input.form-control.form-control-sm(type='text', placeholder='Type your message here...')
                        span.input-group-btn
                          button#btn-chat.btn.btn-info.btn-sm
                            | Send

          
          script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
          script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
          //- script(src='http://localhost:3002/socket.io/socket.io.js')
          script(src='http://localhost:3002/socket.io/socket.io.js')
          script(src='/chat.js')
