extends layout

block content
  style.
    .logo{
      font-family: 'Pacifico', cursive;
      font-weight: 400;
      font-style: normal;
      color: rgba(10, 120, 255, 0.84)
    }
  .container
    .row
      .col-lg-12
        .jumbotron.d-flex.flex-column(style="align-items:center")
          h1.mb-5.logo Talkative
          .col-lg-6
            form(action="/chat", method="POST")
              .form-group.row
                label.col-form-label.col-lg-3(for="clientID") ID
                .col-lg-9
                  input.form-control(name="clientID" placeholder="Username")
              .form-group.row
                label.col-form-label.col-lg-3(for="password") PASSWORD
                .col-lg-9
                  input.form-control(type="password" name="password" placeholder="Password")
              .form-group.row.float-right
                .col-lg-12
                  button.btn.btn-info Log in
          .col-lg-6
            .float-right
              a(href='/register') Register here

    if msg
      .alert.alert-success(align="center") #{msg}
    if err
      .alert.alert-danger(align="center") #{err}