body {
  padding: 50px;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #00B7FF;
}

.dropShadow {
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.13), 0 10px 25px 0 rgba(0, 0, 0, 0.13);
}
.rcorners {
  border-radius: 12px;
  padding: 20px;
}
