body {
  padding:40px;
  font-family: 'Quicksand', sans-serif;
}
::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}
.dropShadow {
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.13), 0 10px 25px 0 rgba(0, 0, 0, 0.13);
}
.dropBoxShadow{
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1), 0 4px 9px 0 rgba(0, 0, 0, 0.1);
}
.rcorners {
  border-radius: 12px;
  padding: 20px;
}
.list-group-item:last-child{
  border-radius: 12px;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.panel-body
{
  overflow-y: scroll;
  height: 250px;
}
#scrollbar{
    height:656px;
    overflow:auto;
}
#scrollbarBody{
    height:496px;
    overflow:auto;
}
.borderless{
  border : hidden;
}
.chatBox{
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  border-radius: 20px;
  padding: 11px;
  box-shadow: 0 3px 6px 3px rgb(232, 232, 232);
  margin-bottom:9px;
}
#unGroupList p,
#groupList p{
  height:2em;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}
#groupList button{
    margin-bottom: 6px;
}
.createGroup-button{
  position:absolute;
  font-size:3em;
  color:#007bff;
  z-index:10;
  opacity:0.5;
  left: 85%;
  top: 90%;
}
.createGroup-buttonGroup{
  position:absolute;
  font-size:3em;
  color:#007bff;
  z-index:10;
  opacity:0.5;
  left: 70%;
  top: 90%;
}
#groupList a.list-group-item.list-group-item-action.flex-column.dropBoxShadow.align-items-start.rcorners{
    margin-bottom:20px;
    border-top-right-radius:12px;
    border-top-left-radius:12px;
}
#unGroupList a.list-group-item.list-group-item-action.flex-column.dropBoxShadow.align-items-start.rcorners{
    margin-bottom:20px;
    border-top-right-radius:12px;
    border-top-left-radius:12px;
    background-color: rgb(221, 221, 221);
    opacity: 0.70;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.scrollbar-morpheus-den{
  width:100%
}
